body {
  background-color: #f9f9f9;
}

.page-container {
  overflow: hidden;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  overflow: auto;
  width: 80%; 
  margin-left: 2%;
  margin-right: 2%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 1.5em; 
  color: #162938; 
  text-align: center; 
  margin-bottom: 20px; 
}


.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box label.input-filled {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1d6fcc; 
}

.btn:active {
  background-color: #0b2533; 
}

.parking-gif {
  width: 60%;
  height: 90%;
}

.link{
  position: relative;
  
}

@media (max-width: 850px) {
  .page-container {
    flex-direction: column; 
  }

  .login-box {
    margin-top: 5%;
    height: 70%;
    width: 90%; 
    border-radius: 0; 
  }

  .parking-gif {
    height: 50%;
    width: 100%; 
  }
}
